@use "../../assets/css//main.scss";
.projects {
	position: relative;
	z-index: 0;
	background-color: var(--clr-primary-5);

	min-height: 100vh;
}

.title_container {
	text-align: center;
	margin: 0 auto;
	padding-top: 2.8rem;
	width: fit-content;
}

.title {
	position: relative;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	opacity: -1;
	animation: animateName 1s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	font-family: "Poppins";
}

.section_title {
	text-align: center;
	color: #fff;
	font-size: 2rem;
	font-family: "Poppins";
}

.span_text {
	color: var(--clr-primary-2);
}

.projects_container {
	margin: 5rem 3rem 0 3rem;
	animation: fadeInFromLeft 1s ease-in-out;
	display: grid;
	gap: 2rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
	height: 100%;
	padding-bottom: 5rem;
}

.image {
	border-radius: 10px;
	height: 100%;
}

// 485px -750px
@media (min-width: 30.1em) and (max-width: 46.875em) {
	.title_container {
		padding-top: 2.8rem;
	}
	.title {
		font-size: 2rem;
	}
}

@media (max-width: 30em) {
	.title_container {
		padding-top: 6rem;
	}
	.title {
		color: var(--clr-primary-2);
		font-size: 1.6rem;
	}
	.projects_container {
		margin: 5rem 1rem 0 1rem;
	}
}
