.list_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.link {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 20rem;
	color: #000;
	background-color: var(--clr-primary-2);
	color: #fff;
	font-size: 1.4rem;
	font-family: "Poppins";
	padding: 0.8rem 1.2rem;
	border-radius: 2px;
	margin-bottom: 2rem;
	&:hover {
		background-color: var(--clr-primary-3);
	}
}

@media (min-width: 30.1em) and (max-width: 46.875em) {
	.link {
		width: 20rem;
		padding: 0.6rem 1rem;
	}
}

@media (max-width: 30em) {
	.link {
		width: 15rem;
		padding: 0.4rem 0.8rem;
	}
}
